.button {
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 12px;
  background: #2f80ed;
  border: none;
  color: #ffffff;
}

.button {
  &:hover {
    cursor: pointer;
    background: #2465b9;
    transition: 0.3s;
  }
}
