.search {
  display: inherit;
  width: 300px;
  height: 55px;
  border: 1px solid #bdbdbd;

  margin: 32px;
  border-radius: 12px;
  align-items: center;
}

.searchIcon {
  fill: #bdbdbd;
  margin: 18px 20px;
}

.searchInput {
  border: none;
  filter: none;
  outline: none;

  &::placeholder {
    color: #bdbdbd;
    line-height: 16px;
  }
}
