.search {
    display: inherit;
    width: 300px;
    height: 55px;
    border: 1px solid #BDBDBD;

    margin: 32px;
    border-radius: 12px;
    align-items: center;
}

.search__icon{
    fill: #BDBDBD;
    margin: 18px 20px;
}

.search__input {
    border: none;
    filter: none;
    outline: none;
}

.search__input::placeholder{
    color: #BDBDBD;
    line-height: 16px;
}
