.button {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 17px 20px;
  font-size: 12px;
  background: #2f80ed;
  border: none;
  color: #ffffff;
  width: 137px;
  height: 55px;
}

.button {
  &:hover {
    cursor: pointer;
    background: #2465b9;
    transition: 0.3s;
  }
}
