.navbar {
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 5em;
}


.navbar__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}