.navbar {
  background-color: white;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 5em;
  box-sizing: border-box;
}

.navbarSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
